* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;

    background-image: url(../img/Фон\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 79px;

    background-color:rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.main__logo-text {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;

    transition: 0.1s ease-in-out;
}
.main__logo-text:hover {
    color: #01813F;
}

.header__elements {
    display: flex;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
    column-gap: 26px;

    padding-right: 25px;
}
.calendar__icon,
.compass__icon,
.post__icon {
    cursor: pointer;
} 
.calendar__icon,
.post__icon,
.compass__icon,
 path:hover {
    fill: #01813F ;
}


.register__text {
    padding-left: 25px;
    border-left: 1px solid #505050;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
}
.login__text:hover,
.signup__text:hover{
    transition: 0.1s ease-in-out;
    color: #01813F;

    cursor: pointer;
}

.root__form {
    margin-block: 54px 74px;
}

.register__form {
    width: 444px;
    padding: 31px 60px 38px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
.register__form::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: 0;
    top: 29px;
    transform: translateY(3px);
}

.form__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #434343;
}

.form__login {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;

    cursor: pointer;
}
.form__login:hover {
    text-decoration: underline;
    color: #01813F;
}

.login__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 14px 34px;
}

.facebook__button {
    display: flex;
    align-items: center;

    padding: 12px 22px 12px 11px;

    background-color: #305DB8;
    border-radius: 3px;

    cursor: pointer;
}
.facebook__button:hover {
    background-color: #022263;
}
.facebook__button::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../icon/F.svg);
    background-repeat: no-repeat;

    padding-right: 13px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
} 

.facebook__button-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    padding-left: 18px;
}

.google__button {
    display: flex;
    align-items: center;

    padding: 12px 27px 12px 12px;

    background-color: #DF4A32;
    border-radius: 3px;

    cursor: pointer;
}
.google__button::before {
    content: '';
    width: 30px;
    height: 24px;
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
    background-position: left;

    padding-right: 7px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}
.google__button:hover {
    background-color: #AB1F09;;
}

.google__button-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;

    padding-left: 30px;
}

.border__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 22px;
    align-items: center;

    margin-bottom: 16px;
    position: relative;
}

.border__line {
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}

.border__wrapper-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #848484;
    background-color: #fff;
}


.register__field {
    width: 100%;
    padding: 15px 0 15px 20px;

    border-radius: 4px;
    border: 1px solid #F2F2F2;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #434343;

    cursor: pointer;
}
.register__field:not(:nth-child(8)) {
    margin-bottom: 15px;
}
.register__field::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #BEBEBE;
}
.register__field:focus {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #434343;

    box-shadow: 0px 3px 8px 0px #00000036;
    background-color: #fff;
    outline: none;
}

.agreepolicy__form {
    display: flex;
    column-gap: 8px;
    align-items: center;

    cursor: pointer;

    margin-block: 12px 20px;
} 

.agreepolicy__form-checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;

    cursor: pointer;
}
.agreepolicy__form-checkbox::after{
    content: '';
    background-image: url(../icon/checkboxincon.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: none;
}
.agreepolicy__form-checkbox:checked:after {
    display: block;
}

.checkbox__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #434343;

    user-select: none; 
    /* Властивість задля виключення відилення текста */
}

.checkbox__text {
    color: #3CB878;

    user-select: none; 
    /* Властивість задля виключення відилення текста */
}
.checkbox__text:hover {
    text-decoration: underline;
    color: #01813F;
}

.create__button {
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;

    border: none;
    border-radius: 4px;

    padding-block: 16px;
    cursor: pointer;

    background-color: rgba(60, 184, 120, 0.8)
}
.create__button:hover {
    background-color: #01813F;
}


